frontend/node_modules/

# testing
frontend/coverage

# build
frontend/dist

# etc
.DS_Store
.env.local
.idea

# compiled
frontend/utils/reload/*.js
frontend/utils/reload/injections/*.js
frontend/public/manifest.json

# Logs
lading/logs
lading/*.log
lading/npm-debug.log*
lading/yarn-debug.log*
lading/yarn-error.log*
lading/pnpm-debug.log*
lading/lerna-debug.log*

landing/node_modules
landing/dist
landing/dist-ssr
landing/*.local
